<%- include("partials/header.ejs") %>

<div id="container">
  <h2>Do Zrobienia:</h2>
  <form id="inputForm" action="/todos" method="POST">
    <input type="text" name="todo[text]" placeholder="Dodaj do listy..." maxlength="30" autocomplete="off" autofocus="autofocus" required>
  </form>
  <ul id="toDoList">
    <% todos.forEach((todo) => { %> 
      <li>
        <form class="editForm">
          <span>Edytuj: </span><input type=text name=todo[edit] value="<%= todo.text %>" placeholder="Edytuj..." maxlength="30" autocomplete="off" required>
          <button>Zapisz</button>
        </form>
        <form class="checkForm" action="/todos/<%= todo._id %>" method="POST">
          <button class="checkButton">
            <% if(todo.isDone === true) { %>
              <i class="fas fa-check"></i>
            </button>
          </form>
          <span class="toDoText completed"><%= todo.text %></span>
        <% } else { %>
              <i class="far fa-circle"></i>
            </button>
          </form>
          <span class="toDoText"><%= todo.text %></span>
        <% } %>
        <form class="deleteForm" action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
          <button class="deleteButton"><i class="fas fa-trash-alt"></i></button>
        </form>
        <button class="editButton"><i class="fas fa-pencil-alt"></i></button>
      </li>
    <% }); %>
  </ul>
</div>

<%- include("partials/footer.ejs") %>