<%- include("partials/header.ejs") %>

<div id="container">
  <h2>Do Zrobienia:</h2>
  <form id="inputForm" action="/todos" method="POST">
    <input type="text" name="text" placeholder="Dodaj do listy..." maxlength="30" autocomplete="off" autofocus="autofocus" required>
  </form>
  <ul>
    <% todos.forEach((todo) => { %> 
      <li>
        <form class="checkForm" action="/todos/<%= todo._id %>?_method=PUT" method="POST">
          <button class="checkButton">
            <% if(todo.isDone === true) { %>
              <i class="fas fa-check"></i>
            </button>
          </form>
          <span class="completed"><%= todo.text %></span>
        <% } else { %>
              <i class="far fa-circle"></i>
            </button>
          </form>
          <span><%= todo.text %></span>
        <% } %>
        <form class="deleteForm" action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
          <button class="deleteButton"><i class="fas fa-trash-alt"></i></button>
        </form>
        <form class="editForm" action="/todos/<%= todo._id %>?_method=PUT" method="POST">
          <button class="editButton"><i class="fas fa-pencil-alt"></i></button>
        </form>
      </li>
    <% }); %>
  </ul>
</div>

<%- include("partials/footer.ejs") %>